h1 {
  font-size: 2rem;
}

.container {
  width: 400px;
  margin: 0 auto;
}

label {
  width: 100%;
  display: block;
  margin-bottom: 1.5rem;
}

.btn, input {
  border: 0;
  outline: 0;
  font-size: 1rem;
  border-radius: 320px;
  padding: 1rem;
  background-color: #edf2f7;
  text-shadow: 1px 1px 0 #fff;
}

input {
  letter-spacing: -0.2px; /* For all text in this app */
  margin-right: 0.5rem;
  box-shadow: inset 2px 2px 5px #babecc,
    inset -5px -5px 10px #fff;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

.btn {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff,
    5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  box-shadow: -2px -2px 5px #fff,
    2px 2px 5px #babecc;
}

input:focus, .btn:active {
  box-shadow: inset 1px 1px 2px #babecc,
    inset -1px -1px 2px #fff;
}

.message {
  background-color: #f7fafc;
  width: 400px;
  margin-top: 20px;
  border-top: solid 2px #fff;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.field {
  display: flex;
  justify-content: flex-start;
  margin-top: 2px;
}

.label {
  font-weight: bold;
  font-size: 1rem;
  width: 6rem;
}

.value {
  color: #4a5568;
}

.text .value {
  font-style: italic;
}
